<!DOCTYPE htmlhtml-section>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello</title>

</head>
<body>
<header>
    <h1>we learn html and css</h1>
</header>
<main>
    <section >
        <h2  title="abc">html :</h2>
        <pre>
            Lorem ipsum    dolor sit, amet  consectetur 
            adipisicing elit. Quibusdam nulla explicabo 
            pariatur eius cumque recusandae repellendus natus id.
            Voluptatum ex aut et! Culpa, rem perferendis.
             Quidem magnam ex culpa natus.
        </pre>
        <img src="./images/html.png" alt="we will fix that">
        <a  target="_blank" href="https://www.w3schools.com/html/html_exercises.asp">html</a>

    </section>
    <hr>


    <h1  >     </h1>

    <!-- this function do    ctrl+k , ctrl+c       pour l'enlevé : ctrl+k,ctrl+u   ..... -->


    <section>
        <h2>css :</h2>
        <pre>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dicta amet explicabo recusandae adipisci atque iste nihil 
            deleniti ratione sint, veritatis assumenda ducimus. Voluptatem mollitia eaque incidunt id aliquid, 
            aliquam molestias?
        </pre>


<!-- break line  :-->
<br>
<br>
<br>
<br>



   
        
    </section>

    <div>
        <!-- <picture>
            <source  media="(max-width:650px)" srcset="./images/1.png">
            <source media="(max-width:800px)" srcset="./images/2.png">
            <img src="./images/html.png" alt="Flowers" style="width:auto;">
          </picture> -->
    </div>
</main>
</body>
</html>